<section class="hero-section" id="hero">
    <div class="container hero-container">
        <div class="hero-wrapper">
        <h1 class="hero-title">NUKE WORLD</h1>
        <p class="hero-text">So yeah, after everything went to hell, the mutants basically took over.</p>
        <a class="hero-link btn" href="#demo">
            <p>Enter the Fallout</p>
        </a>
    </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-wrapper">
<h2 class="disclaimer-title">DISCLAIMER</h2>
<p class="disclaimer-text">mysticwin.pro IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container">
        <div class="title-wrapper">
       <h2 class="demo-title">Game</h2> 
    </div>
    </div>
    <div class="container demo-container">
        
        <div class="demo-wrapper">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#"
            data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/nukeworld" target="gameIframe">
            <img class="demo-img" src="/img/demo/btn.png" alt="Play Free" loading="lazy" />
        </a>
    </div>
</section>