<section class="hero-section" id="hero">
    <div class="container hero-container">
        <div class="hero-wrapper">
        <h1 class="hero-title">NUKE WORLD</h1>
        <p class="hero-text">So yeah, after everything went to hell, the mutants basically took over.</p>
        <a class="hero-link btn" href="#demo">
            <p>Enter the Fallout</p>
        </a>
    </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-wrapper">
<h2 class="disclaimer-title">DISCLAIMER</h2>
<p class="disclaimer-text">mysticwin.pro IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>