body{
  background: #0d0e1b;
  font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #dfdcd6;
}
h2{
  font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #dfdcd6;
    opacity: 0.7;
}

h3{
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 32px;  
    line-height: 1.21875;
    text-transform: uppercase;
    text-align: center;
    color: #a0771f;
    text-shadow: 1px 1px 1px 0 #55394f;
}
.title-wrapper{
  padding: 48px 16px 16px;

    height: 85px;
  background-image: url("/img/title/left.png"), url("/img/title/right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top 70% left, top 70% right;
  background-size: 106px 6px, 106px 6px;
}
.btn{
  border: 1px solid #a74405;
    border-radius: 16px;
    width: 240px;
    height: 56px;
    box-shadow: 0 2px 4px 0 rgba(167, 68, 5, 0.5);
      background: linear-gradient(180deg, #c95206 0%, #fe731a 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3;
        color: #dfdcd6;
}
