.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 48px 46px;
background: #0d0e1b;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: none;
}

.cookie-class {
font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #dfdcd6;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
width: 270px;
    height: 41px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.btn-accept {
border-radius: 12px;
    padding: 10px;
    width: 123px;
    height: 41px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #dfdcd6;
    box-sizing: border-box;
    border: none;
font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #0d0e1b;

}

.btn-decline {
    border: none;
border-bottom: 1px solid #dfdcd6;
    padding: 10px;
    width: 127px;
    height: 41px;
    font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #dfdcd6;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 67px 189px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cookie-class {
        width: 683px;
        text-align: left;
          margin-top: 0;
    }

    .cookie-buttons {
        margin-top: 0;
        width: 290px;
            height: 41px;
            gap: 40px;
    }

    .desk {
        display: block;
    }
}