.footer-container{
  padding: 48px 23px;
}
.footer-navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #dfdcd6;
}
.footer-link-btn{
  margin: 32px auto;
}
.footer-text{
  font-size: 14px;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 56px 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
 .footer-link-btn{
  margin: 0;
 }
}