.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 60px;
background: #0d0e1b;
}

.header-container {
padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #0d0e1b;
  padding: 40px 33px 80px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}


.menu-item {
text-align: center;
font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #dfdcd6;
  text-transform: uppercase;
padding: 8px 0px;
  width: 220px;
  height: 40px;
  transition: border-bottom 0.2s ease;
}
.header-policy-list{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #dfdcd6;
}
.menu-item:hover,
.menu-item:focus,
.menu-item.active {
border-bottom: 1px solid #fe731a;
}

@media screen and (min-width: 1440px) {
  .header {
  height: 53px;
  }

  .header-container {
    padding: 8px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 805px;
  }


  .navigation-item {
padding: 8px;
  height: 37px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 275;
    font-size: 14px;
    text-transform: uppercase;
    color: #dfdcd6;
    transition: all 0.2s ease;
  }

  .navigation-item:hover,
  .navigation-item:focus,
  .navigation-item.active {
border-bottom: 1px solid #fe731a;
font-weight: 400;
  }

}