.hero-section{
    background-image: url("/img/hero/mob.png");  
        background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
    height: 812px;
}
.hero-wrapper{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero-title{
    font-family: "Titillium Web", sans-serif;
        font-weight: 900;
        font-size: 56px;
        color: #dfdcd6;
        text-shadow: 0 2px 4px 0 #0e0f21;
}
.hero-text{
    margin-top: 20px;
    font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        color: #dfdcd6;
        text-shadow: 0 2px 2px 0 #0e0f21;
}
.hero-link{
    margin-top: 370px;
}
@media only screen and (min-width: 1440px) {
   .hero-section{
background-image: url("/img/hero/desk.png");
height: 870px;
   }
   .hero-container{
    padding: 169px 189px;
   }
   .hero-wrapper{
    margin-top: 90px;
    align-items: start;
   }
   .hero-title{
    font-size: 96px;
   }
   .hero-text{
    margin-top: 40px;
    font-size: 32px;
    width: 516px;
    text-align: left;
   }
   .hero-link{
    margin-top: 40px;
   }
}
/* Disclaimer */
.disclaimer-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.disclaimer-title{
    font-family: "Titillium Web", sans-serif;
        font-weight: 900;
        font-size: 16px;
        text-align: center;
        color: #a0771f;
        opacity: 1;
}
.disclaimer-text{
    font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #dfdcd6;
}
@media only screen and (min-width: 1440px) {
   .disclaimer-wrapper{
    padding-left: 189px;
    padding-right: 189px;
    flex-direction: row;
    gap: 64px;
   }
   .disclaimer-text{
    text-align: left;
   }

}
/* Demo */

.demo-container {
    position: relative;
    padding-top: 0;
}
.demo-text{
    margin-top: 24px;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 32px auto 0;
        height: 622px;
}

.game-img {
width: 323px;
    height: 622px;
}

/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    padding: 18px;
    z-index: 10;
          cursor: pointer;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ===== ФОН ===== */

.game-img {
    width: 100%;
    display: block;
}

/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 3%;
    left: 40%;
    transform: translateX(-48%);
    width: 68%;
    height: 54%;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
    width: 125%;
    height: 174%;
    border: none;
    display: none;
    background: #000;
    border-radius: 40px;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -60px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}

.close-img {
    width: 24px;
    height: 24px;

}
@media only screen and (min-width: 1440px) {
    .demo-text{
        margin-top: 32px;
    }
        .demo-wrapper {
            position: relative;
            max-width: 1200px;
            margin: 32px auto 0;
            height: 757px;
        }
    
        .game-img {
        width: 1062px;
            height: 757px;
            margin-left: auto;
           margin-right: auto;
        }
}
/* World */
.world-section{
    background-image: url("/img/world/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 231px;
    height: 722px;
}
.world-title-wrapper{
    background-size: 82px 6px, 82px 6px;
}
.world-text{
    margin-top: 24px;
}
.world-container{
    padding-top: 0;
}
@media only screen and (min-width: 1440px) {
    .world-section{
        background-image: url("/img/world/desk.png");
            background-size: 100% 811px;
            height: 1199px;
    }
    .mob{
        display: none;
    }
    .world-subtitle{
        margin-top: 32px;
    }
        .world-title-wrapper {
            background-size: 551px 6px, 551px 6px;
        }
}
/* Battle */
.battle-container{
    padding-top: 0;
    background-image: url("/img/battle/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 220px;
    background-size: 341px 178px;
}
.battle-text{
    margin-top: 24px;
    width: 293px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1440px) {
.battle-container {
        padding-top: 0;
        background-image: url("/img/battle/desk.png");

        padding-bottom: 280px;
        background-size: 949px 400px;
    }

    .battle-text {
        margin-top: 40px;
        width: 410px;
        text-align: left;
        margin-left: auto;
        margin-right: 100px;
    }
}